@tailwind base;
@tailwind feComponentTransfer;
@tailwind utilities;
@layer base {
  .pricePerNight::-webkit-inner-spin-button,
  .pricePerNight::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer base {
  .background-style {
    border-radius: 31px;

    box-shadow: 26px 26px 42px #cccccc, -26px -26px 42px #f4f4f4;
  }
}
